@import url(./style.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: 'SF Pro';
    src: url(../fonts/SF-Pro.ttf);
}

/* <---------------------------------------------------- universal Selector --------------------------------------------------------> */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* <----------------------------------------------------------- root ----------------------------------------------------------------> */

:root {

    /* colors */

    --color-white: #FFFFFF;
    --black-color: #000000;
    --nav-tele-logo-clr: linear-gradient(90deg, #2AABEE 0%, #229ED9 99.93%);
    --hero-sec-text-clr: #FC9800;

    /* font-family */

    --fm-poppins: "Poppins", sans-serif;
    --fm-sans-racing: "Racing Sans One", sans-serif;
    --fm-imbue: "Imbue", serif;
    --fm-plus-sans: "Plus Jakarta Sans", sans-serif;
    --fm-rubik: "Rubik", sans-serif;
    --fm-gara: "EB Garamond", serif;
    --fm_hel: 'Helvetica';
    --fm-inter: "Inter", sans-serif;
    --fm: "Raleway", sans-serif;
    --fm-sf: "SF Pro";


    /* style */

    --font-style: italic;


    /* letter spacing */

    --ls-main-heading: 0.2em;
    --ls-hero-text: -1.27px;


    /* font weight */

    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;


    /* font-size */

    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-23: 23px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-43: 43px;
    --fs-44: 44px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-54: 54px;
    --fs-55: 55px;
    --fs-59: 59px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-65: 65px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-79: 79px;
    --fs-80: 80px;
    --fs-100: 100px;
    --fs-108: 108px;
    --fs-157: 157px;


    /* lh */

    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-36: 36px;
    --lh-38: 38px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-48: 48px;
    --lh-49: 49px;
    --lh-50: 50px;
    --lh-54: 54px;
    --lh-64: 64px;
    --lh-56: 56px;
    --lh-60: 60px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-79: 79px;
    --lh-80: 80px;
    --lh-79: 79px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-90: 90px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-130: 130px;
    --lh-188: 188px;


    /* lh in percent */

    --lh-110: 110%;
    --lh-120: 120%;
    --lh-150: 150%;

}

/* <----------------------------------------------------------- different containers ----------------------------------------------------------------> */

.container_hero {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-about-us {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_diff_hero {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* <----------------------------------------------------------- spacified root value ----------------------------------------------------------------> */

.fm_sans_racing {
    font-family: var(--fm-sans-racing);
}

.fm_imbue {
    font-family: var(--fm-imbue);
}

.fm-sans {
    font-family: var(--fm-plus-sans);
}

.fm_sf {
    font-family: var(--fm-sf);
}

.primary_color {
    background: var(--primary-color);
}

.fm-gara {
    font-family: var(--fm-gara);
}

.fm {
    font-family: var(--fm);
}

.fm_int {
    font-family: var(--fm-inter);
}

.btn_back_clr {
    background: var(--primary-color);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-12 {
    font-size: var(--fs-12);
}

.light_white_clr {
    color: var(--text-col-clr);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-79 {
    font-size: var(--fs-79);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.lh-38 {
    line-height: var(--lh-38);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-108 {
    font-size: var(--fs-108);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-64 {
    line-height: var(--lh-64);
}

.fs-55 {
    line-height: var(--lh-55);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-80 {
    line-height: var(--lh-80);
}

.lh-60 {
    line-height: var(--lh-60);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_main {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-48 {
    line-height: var(--lh-48);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.fs-44 {
    font-size: var(--fs-44);
}

.lh-50 {
    line-height: var(--lh-50);
}

.lh-110 {
    line-height: var(--lh-110);
}

.lh-120 {
    line-height: var(--lh-120);
}

.lh-150 {
    line-height: var(--lh-150);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.text_black {
    color: var(--black-color);
}

.fs-65 {
    font-size: var(--fs-65);
}

.lh-79 {
    line-height: var(--lh-79);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-130 {
    line-height: var(--lh-130);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.cursor {
    cursor: pointer;
}

.light_black_clr {
    color: var(--light-black-clr);
}

.back_color_body {
    background: #0D0D0D;
}


/* Media Queries */

@media (max-width: 991.9px) {
    .menuicon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 50px;
        height: 30px;
        position: relative;
        z-index: 11;
    }

    .menuicon span:nth-child(1) {
        background: var(--color-white);
        width: 70%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon span:nth-child(2) {
        background: var(--color-white);
        width: 100%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon span:nth-child(3) {
        background: var(--color-white);
        width: 70%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon:hover span:nth-child(1) {
        width: 100%;
    }

    .menuicon:hover span:nth-child(2) {
        width: 70%;
    }

    .menuicon:hover span:nth-child(3) {
        width: 100%;
    }

    .max_lg_view {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        background: var(--black-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        transition: all 300ms linear;
    }

    .show {
        left: 0;
    }

    .menuicon:hover span {
        background: white;
    }

    .d-max-lg-flex {
        display: flex !important;
    }

    .fs-title-media {
        font-size: var(--fs-36);
    }

    .pos-hero-img {
        opacity: 20%;
        z-index: 1;
    }

    .w-h-media-changes {
        height: 100%;
        width: 700px;
    }

    .py-hero {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .mt-media-copy {
        margin-top: 0;
    }

    .mt-media-social-link {
        margin-top: 20px;
    }

    .fs-timeline-main-text {
        font-size: var(--fs-16) !important;
        line-height: var(--lh-150)
    }

    .d-lg-btn-none {
        display: none !important;
    }

    .second-box-token,
    .third-box-token,
    .first-box-token {
        max-width: 576px !important;
    }

    .mt-boxes-token {
        margin-top: 18px;
    }

    .py-about-us {
        padding-top: 135px;
        padding-bottom: 160px;
    }

    .pt-media-pic {
        padding-top: 0;
    }

    .my-media-about-text {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .max-w-social-link {
        height: auto;
        min-height: auto;
    }

    .py-utility {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .py-ecosystem {
        padding-top: 80px;
        padding-bottom: 200px;
    }

    .py-roadmap-timeline {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .pb-roadmap {
        padding-bottom: 100px;
    }

    .py-news {
        padding-top: 200px;
        padding-bottom: 81px;
    }

    .py-media-max-lg {
        padding-top: 39px;
        padding-bottom: 39px;
    }

    .fs-banner-text {
        font-size: var(--fs-30);
        line-height: var(--lh-120);
    }

    .pos-text-utility-3,
    .pos-text-utility-1,
    .pos-text-utility-2 {
        opacity: 30%;
    }

    .pos-text-utility-3 {
        right: 0;
    }

    .pos-svg-eco-googles {
        opacity: 40%;
    }

    .w-h-changes-link {
        width: 40px;
    }
}

@media (min-width: 992px) {
    .d-min-lg-none {
        display: none !important;
    }

    .min-h-lg-810 {
        min-height: 810px;
    }

    .d-lg-min-none {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .fs-head-token {
        font-size: var(--fs-55);
        line-height: var(--lh-150);
    }

    .fs-timeline-main-text {
        font-size: var(--fs-21);
        line-height: var(--lh-150)
    }

    .fs-timeline-sub-text {
        font-size: var(--fs-14);
        line-height: var(--lh-150)
    }

    .third-box-token {
        padding: 6.5px 7.5px 6.5px 7.5px;
    }

    .pos-text-about-2 {
        opacity: 30%;
    }

    .pos-text-about-3 {
        opacity: 30%;
    }
}


@media (max-width: 767.9px) {

    .scroll_top,
    .scroll_box {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
    }

    .my-hero-content {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .opac-media {
        opacity: 30%;
    }

    .fs-banner-text {
        font-size: var(--fs-23);
        line-height: var(--lh-120);
    }

    ..pos-svg-news {
        left: 0;
    }

    ..pos-svg-news-lap {
        right: 0;
    }

    .py-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .py-news {
        padding-top: 120px;
        padding-bottom: 81px;
    }

    .py-utility {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .py-ecosystem {
        padding-top: 0;
        padding-bottom: 120px;
    }

    .w-h-media-changes {
        height: 100%;
        width: 576px;
    }

    .box-token-sec {
        padding: 20.27px 12.81px 20.98px 12.19px;
    }

    .timeline-item {
        align-items: start;
        min-height: 120px;
        height: auto;
        justify-content: start !important;
    }

    .second-item,
    .third-item,
    .forth-item,
    .fifth-item {
        padding-left: 43px;
    }

    .first-item::before {
        display: none;
    }

    .max-md-change::before {
        display: none;
    }

    .max-md-change::after {
        left: 0 !important;
        height: 25px !important;
        top: 0 !important;
    }

    .timeline-item::before {
        display: none;
    }

    .after-line-timeline {
        position: relative;
    }

    .after-line-timeline::after {
        content: "";
        position: absolute;
        width: 2px;
        background: var(--hero-sec-text-clr);
        top: 0;
        left: 23px;
        height: 83%;
    }

    .first-item::after {
        left: 0 !important;
        top: 0 !important;
        height: 25px !important;
    }

    .fs-timeline-main-text {
        font-size: var(--fs-25) !important;
        line-height: var(--lh-150);
    }

    .fs-timeline-sub-text {
        font-size: var(--fs-20) !important;
        line-height: var(--lh-150)
    }

}

@media (max-width: 575.9px) {
    .fs-title-media {
        font-size: var(--fs-30);
    }

    .pos-text-about-1 {
        left: 20px;
        top: 200px;
    }

    .py-news {
        padding-top: 81px;
        padding-bottom: 81px;
    }

    .py-about-us {
        padding-bottom: 100px;
    }

    .py-utility {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .py-roadmap-timeline {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .pb-roadmap {
        padding-bottom: 50px;
    }

    .w-h-media-link {
        width: 300px;
    }

    .fs-sub-head-token {
        font-size: var(--fs-16);
        line-height: var(--lh-150);
    }

    .token-txt {
        font-weight: var(--fw-500);
        font-size: var(--fs-16);
        line-height: var(--lh-150);
    }

    .d-sm-btn-none {
        display: none !important;
    }

    .fs-main-heading-media {
        font-size: var(--fs-70);
        line-height: var(--lh-150);
    }

    .fs-sub-text-hero {
        font-size: var(--fs-18);
        line-height: var(--lh-150);
    }

    .my-hero-content {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .btn_changes,
    .btn_changes_hero {
        padding: 15px;
    }

    .w-h-media-changes {
        height: 100%;
        width: 100%;
    }

    .fs-about-heading {
        font-size: var(--fs-50);
        line-height: var(--lh-150);
    }

    .fs-head-token {
        font-size: var(--fs-40);
        line-height: var(--lh-150);
    }

    .py-hero {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .w-h-footer-social {
        width: 30px;
        height: 100%;
    }

    .fs-timeline-main-text {
        font-size: var(--fs-18) !important;
        line-height: var(--lh-150);
    }

    .timeline-item {
        min-height: 150px;
    }

    .fs-timeline-sub-text {
        font-size: var(--fs-16) !important;
        line-height: var(--lh-150)
    }

    .second-box-token,
    .third-box-token,
    .first-box-token {
        max-width: 430px !important;
    }
}

@media (min-width: 576px) {
    .d-sm-min-none {
        display: none !important;
    }

    .brdr-footer-right {
        border-left: 1px solid var(--hero-sec-text-clr);
    }
}