/* <----------------------------------------------------------- Navbar ----------------------------------------------------------------> */
/* * {
    outline: 1px solid red;
} */

.btn_changes {
    padding: 19px 32px;
    border: 1px solid var(--color-white);
    border-radius: 189px;
    transition: all 300ms linear;
    backdrop-filter: blur(20px);
}

.gap-media-nav-items {
    gap: 46px;
}

.gap-media-nav-link {
    gap: 21px;
}

.mt-nav {
    margin-top: 35px;
}

/* <----------------------------------------------------------- Hero section ----------------------------------------------------------------> */

.heading-text-clr {
    color: var(--hero-sec-text-clr) !important;
}

.opac_80 {
    opacity: 80%;
}

.max-w-hero-sec-text {
    max-width: 538.31px;
}

.gap-media-hero-btns {
    gap: 20px;
}

.my-hero-content {
    margin-top: 62px;
    margin-bottom: 36px;
}

.btn_changes_hero {
    padding: 19px 32px;
    border: 1px solid transparent;
    border-radius: 189px;
    background: var(--hero-sec-text-clr) !important;
    transition: all 300ms linear;
    color: var(--black-color);
}

.btn_changes_svg {
    padding: 14px 19px 14px 19px;
    border: 1px solid var(--color-white);
    border-radius: 189px;
    transition: all 300ms linear;
    backdrop-filter: blur(20px);
}

.pos-hero-img {
    right: 0;
    bottom: 25px;
}

.-mt-10px {
    margin-top: -10px;
}

.btn_changes_svg {
    cursor: pointer;
}

/* <----------------------------------------------------------- Social link section ----------------------------------------------------------------> */
.max-w-container {
    max-width: 1124px;
}

.box-changes {
    min-height: 136px;
    background: var(--hero-sec-text-clr);
}

.pos-sec-social {
    position: relative;
    top: 111px;
}

.social-post-sec .slick-slide {
    padding: 0 25px;
}

.social-post-sec .slick-list {
    padding: 0 -25px;
}

/* <----------------------------------------------------------- About US ----------------------------------------------------------------> */

.py-about-us {
    padding-top: 329px;
    padding-bottom: 310px;
}

.max-w-social-link {
    max-width: 458.78px;
    min-height: 95px;
    gap: 24px;
}

.pt-media-pic {
    padding-top: 40px;
}

.my-media-about-text {
    margin-top: 26px;
    margin-bottom: 20px;
}

.bottom-cloud-img {
    bottom: -5px;
    left: 0;
}

.pos-text-about-1 {
    transform: rotate(-20deg);
    left: 141px;
    top: 350px;
}

.pos-text-about-2 {
    transform: rotate(-20deg);
    left: 35%;
    top: 65%;
}

.pos-text-about-3 {
    bottom: -80px;
    left: 10%;
}

.pos-svg-about-googles {
    bottom: 204px;
    right: 15px;
}

/* <----------------------------------------------------------- Tokenomics ----------------------------------------------------------------> */

.py-token {
    padding-top: 80px;
    padding-bottom: 50px;
}

.mb-media-about-text {
    margin-bottom: 20px;
}

.box-token-sec {
    max-width: 404px;
    margin-top: 20px;
    padding: 27.27px 54.81px 39.98px 25.19px;
    border-radius: 20px;
    border: 1px solid #FFFFFF80;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 5px 18px 0px #00000061;
}

/* boxes token */
.first-box-token {
    max-width: 302px;
    padding: 6.5px 12.5px 6.5px 12.5px;
    border: 1px solid #000000;
    background: var(--hero-sec-text-clr);
}

.second-box-token {
    max-width: 131px;
    padding: 6.5px 16px 6.5px 16px;
    border: 1px solid #000000;
    background: var(--hero-sec-text-clr);
}

.third-box-token {
    max-width: 152px;
    padding: 6.5px 12.5px 6.5px 12.5px;
    border: 1px solid #000000;
    background: var(--hero-sec-text-clr);
}

.mt-media-token-box {
    margin-top: 18px;
}



/* <----------------------------------------------------------- Utility section ----------------------------------------------------------------> */
.backimg-stocks {
    background-image: url("../Images/PNG/white-sec-background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.back-img-chart {
    background-image: url("../Images/PNG/about-us-sec-img.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.py-utility {
    padding-top: 333px;
    padding-bottom: 0;
}

.pos-text-utility-1 {
    transform: rotate(-20deg);
    left: 141px;
    top: 350px;
}

.pos-text-utility-2 {
    transform: rotate(-20deg);
    left: 45%;
    top: 350px;
}

.pos-text-utility-3 {
    right: 40%;
    bottom: 0;
}

.pos-svg-utility {
    top: 188px;
    right: 100px;
}

.btn_changes_white_sec {
    padding: 19px 32px;
    border: 1px solid transparent;
    border-radius: 189px;
    background: var(--hero-sec-text-clr);
    transition: all 300ms linear;
}

/* banner */

.rotated-banner {
    background: var(--hero-sec-text-clr);
    min-height: 136px;
    transform: rotate(-2.02deg);
    margin-top: 45px;
    width: 105%;
    left: -2%;
}

/* <----------------------------------------------------------- Ecosystem ----------------------------------------------------------------> */

.py-ecosystem {
    padding-top: 203px;
    padding-bottom: 285px;
}

.pos-svg-eco {
    top: 66px;
    left: 60px;
}

.pos-svg-eco-googles {
    bottom: 204px;
    right: 80px;
}

/* <----------------------------------------------------------- Roadmap ----------------------------------------------------------------> */

.max-w-roadmap-text {
    max-width: 894.15px;
}

.py-roadmap-timeline {
    padding-bottom: 141px;
    padding-top: 121px;
}

.pb-roadmap {
    padding-bottom: 166px;
}

/* timeline */
.first-item {
    padding-left: 45px;
}

.timeline-item {
    position: relative;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* fifth item */

.timeline-item.fifth-item::before {
    content: '';
    position: absolute;
    left: -36px;
    width: 6px;
    height: 323px;
    top: 0;
    background-color: var(--hero-sec-text-clr);
}

.timeline-item.fifth-item::after {
    content: '';
    position: absolute;
    bottom: 60px;
    left: -45px;
    width: 25px;
    height: 75px;
    background-color: var(--hero-sec-text-clr);
}

/* forth item */

.timeline-item.forth-item::before {
    content: '';
    position: absolute;
    left: -60px;
    width: 6px;
    height: 323px;
    top: -50px;
    background-color: var(--hero-sec-text-clr);
}

.timeline-item.forth-item::after {
    content: '';
    position: absolute;
    bottom: 200px;
    left: -70px;
    width: 25px;
    height: 75px;
    background-color: var(--hero-sec-text-clr);
}

/* third item */

.timeline-item.third-item::before {
    content: '';
    position: absolute;
    left: -36px;
    width: 6px;
    height: 323px;
    top: -50px;
    background-color: var(--hero-sec-text-clr);
}

.timeline-item.third-item::after {
    content: '';
    position: absolute;
    bottom: 120px;
    left: -45px;
    width: 25px;
    height: 75px;
    background-color: var(--hero-sec-text-clr);
}

/* second item */

.timeline-item.second-item::before {
    content: '';
    position: absolute;
    left: -36px;
    width: 6px;
    height: 323px;
    background-color: var(--hero-sec-text-clr);
}

.timeline-item.second-item::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: -45px;
    width: 25px;
    height: 75px;
    background-color: var(--hero-sec-text-clr);
}

/* first item */

.timeline-item.first-item::before {
    content: '';
    position: absolute;
    left: 9px;
    width: 6px;
    height: 248px;
    background-color: var(--hero-sec-text-clr);
}

.timeline-item.first-item::after {
    content: '';
    position: absolute;
    top: 96px;
    left: 0;
    width: 25px;
    height: 75px;
    background-color: var(--hero-sec-text-clr);
}

.bottom-align {
    justify-content: flex-end;
}

.center-align {
    justify-content: center;
}

.top-align {
    justify-content: flex-start;
}

/* <----------------------------------------------------------- Latest News ----------------------------------------------------------------> */

.py-news {
    padding-top: 312px;
    padding-bottom: 96px;
}

.news-box {
    max-width: 367px;
    border: 1px solid var(--black-color);
    background: var(--color-white);
    padding: 26px 0px 19px 22px;
}

.my-news-box-text {
    margin-top: 20px;
    margin-bottom: 27px;
}

.mb-media-news-heading {
    margin-bottom: 72px;
}

.pos-svg-news {
    top: 257px;
    left: 60px;
}

.pos-svg-news-lap {
    top: 228px;
    right: 100px;
}

.slick-slide {
    margin: 0 20px;
}

.slick-list {
    padding: 0 0 12px 0 !important;
}

.slick-dots li button {
    display: none;
}

.slick-dots li {
    width: 30px;
    height: 15px;
    background: var(--slick-dot-color);
    border-radius: 40px;
}

.slick-dots li.slick-active {
    width: 45px;
    height: 15px;
    border-radius: 40px;
    background: var(--hero-sec-text-clr);
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-list {
    margin: 0 0px;
}

/* <----------------------------------------------------------- Footer ----------------------------------------------------------------> */
.py-footer {
    padding-top: 153px;
    padding-bottom: 131px;
}

.mt-media-copy {
    margin-top: 41px;
}

.mb-media-sub-head {
    margin-bottom: 30px;
}

.mb-media-sub-text {
    margin-bottom: 17px;
}

/* <----------------------------------------------------------- Scroll Bar ----------------------------------------------------------------> */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--track-clr);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-clr);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hero-sec-text-clr);
}

/* <----------------------------------------------------------- Hover Effect ----------------------------------------------------------------> */

.btn_changes:hover {
    background: var(--hero-sec-text-clr) !important;
    color: var(--black-color) !important;
    border: 1px solid transparent;
}

.btn_changes_hero:hover {
    background: transparent !important;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    backdrop-filter: blur(20px);
}

.btn_changes_svg:hover {
    background: var(--hero-sec-text-clr) !important;
    color: var(--black-color) !important;
    border: 1px solid transparent;
}

.btn_changes_svg:hover svg path {
    fill: var(--black-color);
}

.btn_changes_white_sec:hover {
    color: var(--black-color);
    background: transparent;
    border: 1px solid var(--hero-sec-text-clr);
    backdrop-filter: blur(20px);
}

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */

.preloader {
    /* background: linear-gradient(var(--color-sky-light), var(--color-sky-dark)); */
    background: var(--black-color);
    z-index: 101 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}

.z-50 {
    z-index: 50;
}

.-top-105 {
    top: -105%;
}

:root {
    --b: #262626;
    --w: #dcdcd2;
    --s: 2s;
}

.loader {
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: linear-gradient(90deg, #fff 50%, #0000 0) right / 200% 100%;
    animation: l21 2s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader::before {
    content: "Loading...";
    color: var(--slick-dot-color);
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    width: 50vmin;
    height: 50vmin;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    perspective: 1000vmin;
}

.bars {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 6.5vmin 3vmin;
    animation: mirror1 calc(var(--s) * 2) ease 0s infinite;
}

.bars+.bars {
    transform: rotate(90deg) rotateX(180deg);
    animation: mirror2 calc(var(--s) * 2) ease calc(var(--s) / 2) infinite;
}

.bar {
    width: 44vmin;
    height: 3vmin;
    margin: 2vmin 0vmin;
    background: linear-gradient(90deg, #fff0 33%, var(--w) 33% 67%, #fff0 67% 100%);
    animation: grow var(--s) ease-in-out 0s infinite alternate;
    background-size: 300%;
    background-position-x: -203%;
}

@keyframes mirror1 {

    0%,
    47%,
    99.99%,
    100% {
        transform: rotate(180deg) rotateX(0deg);
    }

    47.01%,
    99.98% {
        transform: rotate(180deg) rotateX(180deg);
    }
}

@keyframes mirror2 {

    0%,
    47%,
    99.99%,
    100% {
        transform: rotate(90deg) rotateX(180deg);
    }

    47.01%,
    99.98% {
        transform: rotate(90deg) rotateX(0deg);
    }
}

@keyframes grow {

    0%,
    25% {
        background-position-x: -297%;
    }

    45%,
    55% {
        background-position-x: -250%;
    }

    75%,
    100% {
        background-position-x: -203%;
    }
}

.bar:nth-child(2) {
    animation-delay: calc(var(--s) * -0.02);
}

.bar:nth-child(3) {
    animation-delay: calc(var(--s) * -0.04);
}

.bar:nth-child(4) {
    animation-delay: calc(var(--s) * -0.06);
}

.bar:nth-child(5) {
    animation-delay: calc(var(--s) * -0.08);
}

.bar:nth-child(6) {
    animation-delay: calc(var(--s) * -0.1);
}

.bar:nth-child(7) {
    animation-delay: calc(var(--s) * -0.12);
}

.bars:nth-child(2) .bar:nth-child(1) {
    animation-delay: calc(calc(var(--s) * -0.001) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(2) {
    animation-delay: calc(calc(var(--s) * -0.02) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(3) {
    animation-delay: calc(calc(var(--s) * -0.04) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(4) {
    animation-delay: calc(calc(var(--s) * -0.06) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(5) {
    animation-delay: calc(calc(var(--s) * -0.08) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(6) {
    animation-delay: calc(calc(var(--s) * -0.1) - calc(var(--s) / 2));
}

.bars:nth-child(2) .bar:nth-child(7) {
    animation-delay: calc(calc(var(--s) * -0.12) - calc(var(--s) / 2));
}

/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
    z-index: 18;
    box-shadow: 0px 0px 50px -3px var(--slick-dot-color);
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    background: var(--color-white);
    transform: scale(1.2);
    box-shadow: 0px 0px 50px -3px var(--hero-sec-text-clr);
}